<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connect Your Business</title>
</head>
<body>
    <form action="" method="post">
        <select name="" id="">
            <option value="">Select a Category</option>
            <option value="">Beauty</option>
            <option value="">Health</option>
            <option value="">Entertainment</option>
            <option value="">Pets</option>
            <option value="">Food</option>
        </select>
        
    </form>
</body>
</html>