<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Businesses</title>
</head>
<body>
    <!-- navBar -->
    <nav>

    </nav>
    <!-- businesses display -->
    <div>
        <p>Business Name</p>
        <div>
            <img src="" alt="">
            <p>Description</p>
            <div>
                <button>Get an Appointment</button>
                <button>View More</button>
                <button name="add_favorite"></button>
            </div>
        </div>
    </div>
</body>
</html>