<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Index</title>
</head>
<body>
    <!-- ---------------------NavBar------------ -->
    <nav class="navBar">
        <div class="searchBar">
            <div class="Logo">
                <img class="icon_logo" src="../static/assets/icon_logo.png" alt="logo">
                <img class="name_logo" src="../static/assets/name_logo.png" alt="logo">
            </div>
            <input class="search" type="search" placeholder=" search">
        </div>
        <div class="navLinks">            
            <p><a href="#">Services and Companies</a></p>
            <p><a href="#">About Us</a></p>
        </div>
        <button type="submit" class="logButton">Login</button>
    </nav>
    <!-- --------------Join buttons------------ -->
    <div class="loginContainer">
        <h1 class="slogan">Find Your Own<span> Spot</span><br>With one Click</h1>
        <div>
            <button class="joinCostumer" type="submit" >Join as a Customer</button>
            <button class="joinBusiness" type="submit" >Join as a Service Provider</button>
        </div>
    </div>

    <div>
        <div>
            <div>
            <img src="#" alt="Icon Step 1">
            </div>
            <div>
                <h2>Step 1</h2>
                <p>Select  a service and a provider</p>
            </div>
        </div>
        <div>
            <div>
            <img src="#" alt="Icon Step 2">
            </div>
            <div>
                <h2>Step 2</h2>
                <p>Select  a date and a time</p>
            </div>
        </div>
        <div>
            <div>
            <img src="#" alt="Icon Step 3">
            </div>
            <div>
                <h2>Step 3</h2>
                <p>Book it</p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <img src="#" alt="Icon Live Notification">
            </div>
            <div>
                <h3>Live Notifications</h3>
                <p>Appointments confirmation and cancellation by email or SMS</p>
            </div>
        </div>
        <div>
            <div>
                <img src="#" alt="Icon 24/7 Booking">
            </div>
            <div>
                <h3>24/7 Booking</h3>
                <p>Book your appointment anytime</p>
            </div>
        </div>
        
        <div>
            <div>
                <img src="#" alt="Icon Reminder">
            </div>
            <div>
                <h3>Reminder</h3>
                <p>Synchronize your calendar and get reminded of your appointments</p>
            </div>
        </div>
    </div>
    <div>
        <h1>We make <span>Life </span>easier<br>than ever for You!</h1>

    </div>
    <div>
        <div>
            <div>
                <img src="#" alt="Icon Manage Your Business">
            </div>
            <div>
                <h3>Manage Your Business</h3>
                <p>Track and manage your schedule anywhere</p>
            </div>
        </div>
        <div>
            <div>
                <img src="#" alt="Icon Client Management">
            </div>
            <div>
                <h3>Client Management</h3>
                <p>Track upcoming and past appointments, notes and statics</p>
            </div>
        </div>
        <div>
            <div>
                <img src="#" alt="Icon Advertise">
            </div>
            <div>
                <h3>Advertise</h3>
                <p>Our search feature will allow clients to discover you when they look for a service you provide</p>
            </div>
        </div>
    </div>
    <div>
        <img src="#" alt="???">
    </div>
    
</body>
<footer>
        
</footer>

</html>
</body>
</html>