<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="../static/mainUser.css" />
    <title>Main Page</title>
  </head>
  <body>
    <!--------------------NavBar------------------ -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- rightNav -->
        <div>
            <a class="navbar-brand" href="#">
                <img src="/flask_app/static/assets/icon_logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Blsati
              </a>
        </div>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
          <button class="btn btn-outline-success" type="submit"> Search </button>
        </form>
        <!-- leftNav -->
        <div class="collapse navbar-collapse d-flex " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Beauty</a></li>
                <li><a class="dropdown-item" href="#">Health</a></li>
                <li><a class="dropdown-item" href="#">Entertainment</a></li>
                <li><a class="dropdown-item" href="#">Pets</a></li>
                <li><a class="dropdown-item" href="#">Food</a></li>
                <li><a class="dropdown-item" href="#">Others</a></li>
                </ul>
            </li>
            </ul>
        </div>
        <button class="logButton">Logout</button>
    </div>
    </nav>  

    <!-- Categories -->

      <div class="container">
        <div class="card-row">
          <div id="beauty"class="card">
            Beauty
          </div>
          <div class="card">
            Health
          </div>
          <div class="card">
            Entertainment
          </div>
        </div>
        <div class="card-row">
          <div class="card">
            Food
          </div>
          <div class="card">
            Pets
          </div>
          <div class="card">
            Others
          </div>
        </div>
      </div>
    
    <!-- Appointments -->
    <div class="appointmentButtons btn-group">
      <div class="display-area">Business Name</div>
      <button>Status</button>
      <button>Edit</button>
      <button>Cancel</button>
    </div>
    <button>See All</button>
  </body>
</html>
